.preview-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
}

.preview-wrapper iframe {
  height: 100%;
  width: 100%;
}

.preview-error-container {
  display: block;
  position: absolute;
  top: -5px;
  left: 10px;
  color: red;
  font-size: 16px;
  font-family:Times, serif;
}

.preview-error-title {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}


.react-draggable-transparent-selection .preview-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}